@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #4e4c4c;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-font-size: 16px;
}

.debug-yellow {
  background-color: yellow;
}

.debug-red {
  background-color: red;
}

.debug-blue {
  background-color: blue;
}

html {
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

h2 {
  font-family: var(--secondary-font);
  font-weight: 900;
}

a {
  text-decoration: none;
}

.brand-logo {
  width: 160px;
}

.menu-item {
  display: flex;
  color: var(--tertiary-color);
  text-transform: uppercase;
}

.menu-item li:not(:last-child) {
  margin: 0 0.5rem 0 0;
}

.menu-item li a {
  color: var(--tertiary-color);
  transition: color 0.5s ease-in;
}

.menu-item li a:hover {
  color: var(--secondary-color);
}

.active {
  font-weight: 900;
  color: var(--secondary-color) !important;
}

.hero {
  width: 100%;
}

.products .item img {
  width: 316px;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
